<header class="w3-top">
  <div class="w3-bar w3-red">
    <a href="#" class="w3-bar-item">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="anchor"
      ></mat-icon>
    </a>
    <input type="text" class="w3-bar-item w3-input" placeholder="Search.." />
    
    <a href="#" class="w3-bar-item">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="search"
      ></mat-icon>
    </a>
  </div>
</header>

