<footer class="w3-bottom">
  <div class="w3-bar w3-red">
    <a href="#" class="w3-bar-item ">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
    </a>
    <a href="#" class="w3-bar-item ">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person"
      ></mat-icon>
    </a>
    <a href="#" class="w3-bar-item ">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="favorite"
      ></mat-icon>
    </a>
    <a href="#" class="w3-bar-item">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="shopping_cart"
      ></mat-icon>
    </a>
    <a href="#" class="w3-bar-item ">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="menu"
      ></mat-icon>
      
    </a>
  </div>
</footer>
