<article>
  <h1>Category</h1>

  <div class="w3-row-padding w3-margin-top">
    <div class="w3-col s6">
      <div class="w3-card w3-display-container">
        <img src="img_monterosso.jpg" class="w3-image" />
        <div class="w3-display-middle w3-large">Sports & Outdoors</div>
      </div>
    </div>

    <div class="w3-col s6">
      <div class="w3-card w3-display-container">
        <img src="img_monterosso.jpg" class="w3-image" />
        <div class="w3-display-middle w3-large">Automotive Parts & Accessories</div>
      </div>
    </div>
  </div>

  <div class="w3-row-padding w3-margin-top">
  <div class="w3-col s6">
    <div class="w3-card w3-display-container">
      <img src="img_monterosso.jpg" class="w3-image" />
      <div class="w3-display-middle w3-large">Clothing, Shoes and Jewelry</div>
    </div>
  </div>

  <div class="w3-col s6">
    <div class="w3-card w3-display-container">
      <img src="img_monterosso.jpg" class="w3-image" />
      <div class="w3-display-middle w3-large">Electronics</div>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-margin-top">
<div class="w3-col s6">
  <div class="w3-card w3-display-container">
    <img src="img_monterosso.jpg" class="w3-image" />
    <div class="w3-display-middle w3-large">Toys & Games</div>
  </div>
</div>

<div class="w3-col s6">
  <div class="w3-card w3-display-container">
    <img src="img_monterosso.jpg" class="w3-image" />
    <div class="w3-display-middle w3-large">Beauty & Personal Care</div>
  </div>
</div>
</div>

  
</article>
