<article>
  <h1>Promotion</h1>

  <div class="w3-row-padding">
    <div class="w3-col s6 w3-card-4">
      <img alt="image" src="../assets/images/45111.jpg" />
      <div class="#">
        <p>12.50 MZN</p>
        <p>The Italian</p>
      </div>
    </div>

    <div class="w3-col s6 w3-card-4">
      <div>
        <img alt="image" src="./assets/images/45111.jpg" />
        <div class="#">
          <p>12.50 MZN</p>
          <p>The Italian</p>
        </div>
      </div>
      <div>
        <img alt="image" src="./assets/images/45111.jpg" />
        <div class="#">
          <p>12.50 MZN</p>
          <p>The Italian</p>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="w3-row-padding">
    <div class="w3-col s6 w3-card-4">
      <img alt="image" src="../assets/images/45111.jpg" />
      <div class="#">
        <p>12.50 MZN</p>
        <p>The Italian</p>
      </div>
    </div>

    <div class="w3-col s6 w3-card-4">
      <img alt="image" src="./assets/images/45111.jpg" />
      <div class="#">
        <p>12.50 MZN</p>
        <p>The Italian</p>
      </div>
    </div>
  </div>

  <br />

  <div class="w3-row-padding">
    <div class="w3-col s6 w3-card-4">
      <div>
        <img alt="image" src="./assets/images/45111.jpg" />
        <div class="#">
          <p>12.50 MZN</p>
          <p>The Italian</p>
        </div>
      </div>
      <div>
        <img alt="image" src="./assets/images/45111.jpg" />
        <div class="#">
          <p>12.50 MZN</p>
          <p>The Italian</p>
        </div>
      </div>
    </div>

    <div class="w3-col s6 w3-card-4">
      <img alt="image" src="../assets/images/45111.jpg" />
      <div class="#">
        <p>12.50 MZN</p>
        <p>The Italian</p>
      </div>
    </div>
  </div>
</article>
